<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品修改</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
</head>
<script type="text/javascript" src="/static/layui/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script th:inline="javascript">
    var loginUrl = window.location.protocol + "//" + window.location.host + "/";
    var projects=[[${gImgPath}]];
    layui.use(['element', 'layer', 'jquery', 'form'], function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来进行渲染
        form.render();
    });

    $(function editShowData() {
        console.log(projects)
        $("#editImg").attr('src', loginUrl + "showImage?imgUrl=" + projects);
    });

    layui.use(['element', 'layer', 'jquery', 'form'], function () {
        var layer = layui.layer;
        var $ = layui.$;
        var form = layui.form;


        // 商品名称验证
        $("#gName").blur(function () {
            console.log($("#gName").val())
            var sign = $("#gName").val();
            if(sign==''){
                layer.msg("商品名称不能为空", {
                    "icon": 2,
                    "time": 2000
                });
                return false;
            }
        });
        //商品库存验证
        $("#gStock").blur(function () {
            console.log($("#gStock").val())
            var gStock = $("#gStock").val();
            if(gStock==''){
                layer.msg("商品库存不能为空", {
                    "icon": 2,
                    "time": 2000
                });
                return false;
            }
            if(!(/(^[1-9]\d*$)/.test(gStock))){
                layer.msg("商品库存只能为正整数", {
                    "icon": 2,
                    "time": 2000
                });
                return false;
            }
        });
        $("#edituploadGoodImg").blur(function () {
            console.log($("#edituploadGoodImg").val())
            var edituploadGoodImg = $("#edituploadGoodImg").val();
            if (edituploadGoodImg == '') {
                layer.msg("请上传头像", {
                    "icon": 2,
                    "time": 2000
                });
                return false;
            }
            return true;
        });

        $("#saveEditGoods").click(function () {
            // // var data = form.val('editGoodsForm')
            // var fields = $('#editGoodsForm').serializeArray();
            // var data = {}; //声明一个对象
            // $.each(fields, function(index, field) {
            //     data[field.name] = field.value; //通过变量，将属性值，属性一起放到对象中
            // })
            // console.log(data)
            // console.log(JSON.stringify(data))

            if ($("#edituploadGoodImg").val() == '') {
                layer.msg("请上传商品图片", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }
            if ($("#gName").val() == '') {
                layer.msg("请输入商品名称", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }
            if ($("#gStock").val() == '') {
                layer.msg("请输入库存数量", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }
            if ($("#goodLocation").val() == '') {
                layer.msg("请选择商品存放货架", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }
            /*if ($("#levelOne").val() == '') {
                layer.msg("请选择一级分类", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }
            if ($("#levelTwo").val() == '') {
                layer.msg("请选择二级分类", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }*/
            if ($("#classifyAll").val() == '') {
                layer.msg("请选择商品分类", {
                    "icon": 2,
                    "time": 2000
                });
                return;
            }
            var gImgPath = $("#editUploadGoodImg").val();
            var gName = $("#gName").val();
            var gStock = $("#gStock").val();
            var goodLocation = $("#goodLocation").val();
            /*var levelOne = $("#levelOne").val();
            var levelTwo = $("#levelTwo").val();*/
            var classifyAll = $("#classifyAll").val();
            var id = $("#id").val();
            $.ajax({
                url: '/goods/saveEditGoods?gImgPath='+gImgPath+'&gName='+gName+'&gStock='+gStock+'&goodLocation='+goodLocation+'&classifyAll='+classifyAll+'&id='+id,
                success: function (result) {
                    console.log(result.state);
                    if (result.state == 0) {
                        layer.msg(result.message);
                        var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                        parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                        parent.layer.close(index);		//关闭窗口
                    } else {
                        layer.msg(result.message)
                    }
                },
                error: function (result) {
                    layer.msg(result.message)
                }
            })
        })
    })
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#editGoodsImg' //绑定元素
            , url: '/uploadFile' //上传接口
            , accept: 'images' //只允许上传图片
            , acceptMime: 'image/png,image/jpeg,image/jpg' //只筛选图片
            , done: function (res) { //上传后的回调
                if (res.state == 0) {
                    layer.msg("上传成功");
                    console.log(res.data.filePath);
                    $("#editUploadGoodImg").attr('value', res.data.filePath);
                    // $("#demo1").attr('src',res.data.filePath)
                    $("#editImg").attr('src', loginUrl + "showImage?imgUrl=" + res.data.filePath);
                } else {
                    layer.msg("上传失败");
                }
            }
            //,accept: 'file' //允许上传的文件类型
            //,size: 50 //最大允许上传的文件大小
            //,……
            , error: function () {
                layer.msg("上传失败");
            }
        });
        $("#cancelEdit").click(function () {
            var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
            parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
            parent.layer.close(index);		//关闭窗口
        })
    });
</script>
<div>
    <form id="editGoodsForm" class="layui-form" lay-filter="editGoodsForm" style="width: 500px; margin-left: 150px; margin-top: 10%" name="editGoodsForm">
        <div class="layui-form-item">
            <label class="layui-form-label" style="text-align: center;margin-top: 34px;">商品图片:</label>
            <div class="layui-input-block">
                <img class="layui-upload-img" id="editImg" style="width: 100px;height: 100px;">
                <button type="button" class="layui-btn" id="editGoodsImg" style="margin-left: 20px; margin-top: 64px;">
                    <i class="layui-icon">&#xe67c;</i>选择图片
                </button>
                <input id="editUploadGoodImg" name="gImgPath" type="hidden" th:value="${gImgPath}">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">商品名称:</label>
            <div class="layui-input-block">
                <input type="text" name="gName" placeholder="请输入商品名称" id="gName" lay-verify="required"
                       class="layui-input" style="width: 100%;" th:value="${gName}">
                <input type="text" name="id"  id="id"
                       class="layui-input" style="width: 100%;display: none" th:value="${id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品库存:</label>
            <div class="layui-input-block">
                <input id="gStock" type="number" name="gStock" lay-verify="required"
                       placeholder="请输入商品库存(整数)" class="layui-input" style="width: 100%;" th:value="${gStock}">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择商品存放货架</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <select id="goodLocation" lay-verify="required" lay-search="" name="gLocationId"
                            style="width: 100%;" class="layui-form-select">
                        <option value="" selected="">请选择商品存放货架</option>
                    </select>
                </div>
            </div>
        </div>
        <span style="margin-left: 110px;font-family: cursive;font-size: larger;font-weight: bolder;"> 选择商品分类:</span>
        <div class="layui-form-item">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <select id="classifyAll" lay-verify="required" lay-search="" name="classifyAll"
                            style="width: 100%;" class="layui-form-select">
                        <option value="000" selected="">请选择商品分类(最高级分类则不选择)</option>
                    </select>
                </div>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">一级分类</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <select id="levelOne" lay-verify="required" lay-search="" name="levelOne"
                            style="width: 100%;" class="layui-form-select">
                        <option value="" selected="">请选择商品一级分类</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">二级分类</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <select id="levelTwo" lay-verify="required" lay-search="" name="levelTwo"
                            style="width: 100%;" class="layui-form-select">
                        <option value="" selected="">请选择商品二级分类</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">三级分类</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <select id="levelThree" lay-verify="required" lay-search="" name="levelThree"
                            style="width: 100%;" class="layui-form-select">
                        <option value="" selected="">请选择商品三级分类</option>
                    </select>
                </div>
            </div>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input id="saveEditGoods" type="button" value="保存" lay-filter="saveEditGoods" class="layui-btn"
                       style="width: 30%;height: 42px;font-size: 10px;border-radius: 3px;margin-top: 10px;letter-spacing: 0.5em; margin-left: 30px;"/>
                <input id="cancelEdit" type="button" value="取消" lay-filter="cancelEdit" class="layui-btn"
                       style="width: 30%;height: 42px;font-size: 10px;border-radius: 3px;margin-top: 10px;letter-spacing: 0.5em;margin-left: 100px;"/>
            </div>
        </div>
    </form>

</div>
<script type="text/javascript" th:inline="javascript">
    var gLocationId = [[${gLocationId}]]; <!--接收值-->
    var classifyId = [[${classifyId}]]; <!--接收值-->
/*    var level1 = [[${levelOne}]]; <!--接收值-->
    var level2 = [[${levelTwo}]];
    var level3 = [[${levelThree}]];
    console.log("level1="+level1)
    console.log("level2="+level2)
    console.log("level3="+level3)*/

    layui.use(['element', 'layer', 'jquery', 'form'], function () {
        var form = layui.form;
        var $ = layui.$;
        /*var levelOne=1;
        var levelTwo=2;
        var levelThree=3;*/
        $(function () {
            gLocation();
            // getClassifyLevelOne(levelOne);
            // getClassifyLevelTwo(levelTwo);
            // getClassifyLevelThree(levelThree);
            getClassifyAll()
        })
        /*function getClassifyLevelOne(levelOne) {
            console.log("one="+levelOne)
            $.ajax({
                url: "/classify/selectClassifyLevel?level="+levelOne,
                type: "GET",
                dataType: "json",
                success: function (datas) {
                    var selects = '';
                    var classifyLevel = datas.data;
                    if (datas.state == 0) {
                        for (i = 0; i < classifyLevel.length; i++) {
                            var its ='';
                            if(classifyLevel[i].id == level1){
                                its = '<option selected="selected" value="' + classifyLevel[i].id + '">' + classifyLevel[i].cName + '</option>';
                            }else {
                                its = '<option value="' + classifyLevel[i].id + '">' + classifyLevel[i].cName + '</option>';
                            }
                            selects += its;
                        }
                        $("#levelOne").append(selects);
                        form.render();//菜单渲染 把内容加载进去
                    }
                }
            });
        }
        function getClassifyLevelTwo(levelTwo) {
            console.log("two="+levelTwo)
            $.ajax({
                url: "/classify/selectClassifyLevel?level="+levelTwo,
                type: "GET",
                dataType: "json",
                success: function (datas) {
                    var selects = '';
                    var classifyLevel = datas.data;
                    if (datas.state == 0) {
                        for (i = 0; i < classifyLevel.length; i++) {
                            var its ='';
                            if(classifyLevel[i].id == level2){
                                its = '<option selected="selected" value="' + classifyLevel[i].id + '">' + classifyLevel[i].cName + '</option>';
                            }else {
                                its = '<option value="' + classifyLevel[i].id + '">' + classifyLevel[i].cName + '</option>';
                            }
                            selects += its;
                        }
                        $("#levelTwo").append(selects);
                        form.render();//菜单渲染 把内容加载进去
                    }
                }
            });
        }
        function getClassifyLevelThree(levelThree) {
            console.log("three="+levelThree)
            $.ajax({
                url: "/classify/selectClassifyLevel?level="+levelThree,
                type: "GET",
                dataType: "json",
                success: function (datas) {
                    var selects = '';
                    var classifyLevel = datas.data;
                    if (datas.state == 0) {
                        for (i = 0; i < classifyLevel.length; i++) {
                            var its ='';
                            if(classifyLevel[i].id == level3){
                                its = '<option selected="selected" value="' + classifyLevel[i].id + '">' + classifyLevel[i].cName + '</option>';
                            }else {
                                its = '<option value="' + classifyLevel[i].id + '">' + classifyLevel[i].cName + '</option>';
                            }
                            selects += its;
                        }
                        $("#levelThree").append(selects);
                        form.render();//菜单渲染 把内容加载进去
                    }
                }
            });
        }*/

        //获取商店
        function gLocation() {
            $.ajax({
                url: "/goodLocation/selectGoodLocation",
                type: "GET",
                dataType: "json",
                success: function (datas) {
                    var selects = '';
                    var goods = datas.data;
                    if (datas.state == 0) {
                        for (i = 0; i < goods.length; i++) {
                            if(goods[i].id == gLocationId){
                                var its = '<option selected="selected" value="' + goods[i].id + '">' + goods[i].lName + '</option>';
                                selects += its;
                            }else {
                                var its = '<option value="' + goods[i].id + '">' + goods[i].lName + '</option>';
                                selects += its;
                            }
                        }
                        $("#goodLocation").append(selects);
                        form.render();//菜单渲染 把内容加载进去
                    }
                }
            });
        }
        function getClassifyAll() {
            $.ajax({
                url: "/classify/getClassifyAll",
                type: "GET",
                dataType: "json",
                success: function (datas) {
                    var selects = '';
                    var its = '';
                    var classify = datas.data;
                    if (datas.state == 0) {
                        for (i = 0; i < classify.length; i++) {
                            if (classify[i].id == classifyId) {
                                its = '<option selected="selected" value="' + classify[i].id + '">' + classify[i].cName + '</option>';
                                selects += its;
                            } else {
                                its = '<option value="' + classify[i].id + '">' + classify[i].cName + '</option>';
                                selects += its;
                            }
                        }
                        $("#classifyAll").append(selects);
                        form.render();//菜单渲染 把内容加载进去
                    }
                }
            });
        }
    });
</script>
<style type="text/css">
    .layui-form-select{
        width: 392px;
    }
    .layui-select-title{
        width: 392px;
    }
</style>
</html>