<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyc.testredis.mapper.ClassifyMapper" >
  <resultMap id="BaseResultMap" type="com.yyc.testredis.pojo.Classify" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_parent_id" property="cParentId" jdbcType="VARCHAR" />
    <result column="c_level_flag" property="cLevelFlag" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, c_name, c_parent_id, c_level_flag, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yyc.testredis.pojo.ClassifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from classify
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from classify
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyc.testredis.pojo.ClassifyExample" >
    delete from classify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyc.testredis.pojo.Classify" >
    insert into classify (id, c_name, c_parent_id, 
      c_level_flag, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{cParentId,jdbcType=VARCHAR}, 
      #{cLevelFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyc.testredis.pojo.Classify" >
    insert into classify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cParentId != null" >
        c_parent_id,
      </if>
      <if test="cLevelFlag != null" >
        c_level_flag,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cParentId != null" >
        #{cParentId,jdbcType=VARCHAR},
      </if>
      <if test="cLevelFlag != null" >
        #{cLevelFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyc.testredis.pojo.ClassifyExample" resultType="java.lang.Integer" >
    select count(*) from classify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update classify
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cParentId != null" >
        c_parent_id = #{record.cParentId,jdbcType=VARCHAR},
      </if>
      <if test="record.cLevelFlag != null" >
        c_level_flag = #{record.cLevelFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update classify
    set id = #{record.id,jdbcType=VARCHAR},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_parent_id = #{record.cParentId,jdbcType=VARCHAR},
      c_level_flag = #{record.cLevelFlag,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyc.testredis.pojo.Classify" >
    update classify
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cParentId != null" >
        c_parent_id = #{cParentId,jdbcType=VARCHAR},
      </if>
      <if test="cLevelFlag != null" >
        c_level_flag = #{cLevelFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyc.testredis.pojo.Classify" >
    update classify
    set c_name = #{cName,jdbcType=VARCHAR},
      c_parent_id = #{cParentId,jdbcType=VARCHAR},
      c_level_flag = #{cLevelFlag,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 通过条件分页查询，返回数据集 -->
  <select id="selectPageList" parameterType="com.yyc.testredis.utils.Page"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from classify
    <where>
      1=1
      <if test="keyWord!='' and keyType=='cName' ">
        AND c_name like '%' #{keyWord} '%'
      </if>
    </where>
    order by id asc
    limit #{start},#{rows}
  </select>

  <!-- 通过条件分页查询，返回总记录数 -->
  <select id="selectPageCount" parameterType="com.yyc.testredis.utils.Page" resultType="java.lang.Integer">
    select count(1) from classify
    <where>
      1=1
      <if test="keyWord!='' and keyType=='cName' ">
        AND c_name like '%' #{keyWord} '%'
      </if>
    </where>
  </select>
  <select id="selectClassifyByLevel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from classify
    <where>
      1=1
      <if test="level !=null and level !=''">
        and c_level_flag=#{level}
      </if>
    </where>
  </select>
    <select id="selectParentIdById" resultType="java.lang.String" parameterType="java.lang.String">
        select c_parent_id
        from classify
        where id=#{id}
    </select>
</mapper>