<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<script type="text/javascript" src="/static/layui/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    function dateToStr(date) {
        var time = new Date(date);
        var y = time.getFullYear();
        var M = time.getMonth() + 1;
        M = M < 10 ? ("0" + M) : M;
        var d = time.getDate();
        d = d < 10 ? ("0" + d) : d;
        var h = time.getHours();
        h = h < 10 ? ("0" + h) : h;
        var m = time.getMinutes();
        m = m < 10 ? ("0" + m) : m;
        var s = time.getSeconds();
        s = s < 10 ? ("0" + s) : s;
        var str = y + "-" + M + "-" + d + " " + h + ":" + m + ":" + s;
        return str;
    }

    layui.use('table', function () {
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#test1',
            url: '/test/dataGrid'
            , page: true //开启分页
            , limit: 10
            , cellMinWidth: 100
            , limits: [10, 20, 30, 40, 50]
            , initSort: {
                field: 'id' //排序字段，对应 cols 设定的各字段名
                , type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , toolbar: "#toolbarDemo"
            , cols: [
                [
                    {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                    , {field: 'username', title: '用户名',}
                    , {field: 'sex', title: '性别', sort: true}
                    , {field: 'city', title: '城市'}
                    , {field: 'sign', title: '姓名'}
                    , {field: 'phone', title: '手机号', sort: true}
                    , {field: 'birth', title: '出身日期', sort: true,templet: function (d) {
                        return dateToStr(d.birth);
                    }}
                    , {field: 'roleName', title: '身份'}
                    , {
                    field: 'createTime', title: '创建时间', sort: true, templet: function (d) {
                        return dateToStr(d.createTime);
                    }
                }
                    , {
                    field: 'updateTime', title: '更新时间', sort: true, templet: function (d) {
                        return dateToStr(d.updateTime);
                    }
                }
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ]
        });
        //自定义工具栏监听事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getSelect':
                    layer.msg("这是查询", {icon: 6, anim: 6});
                    break;
                case 'getInsert':
                    layer.msg("这是新增", {icon: 6, anim: 6});
                    break;
                case 'getUpdate':
                    layer.msg("这是修改", {icon: 6, anim: 6});
                    break;
                case 'getDelete':
                    layer.msg("这是删除", {icon: 6, anim: 6});
                    break;
                case 'getRefresh':
                    layer.msg("这是刷新", {icon: 6, anim: 6});
                    location.reload();
                    break;
            }
        });
        //监听工具条
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                // layer.alert('编辑行：<br>' + JSON.stringify(data))
                layer.open({
                    type: 2,
                    title: "编辑页面", //不显示标题栏
                    closeBtn: 2,
                    area: ['800px', '600px'],
                    btn: ['保存', '取消'],
                    content: '/test/editData?id=' + data.id, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
            }
        });
    });

</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getSelect">查询</button>
        <button class="layui-btn layui-btn-sm" lay-event="getInsert">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="getUpdate">修改</button>
        <button class="layui-btn layui-btn-sm" lay-event="getDelete">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="getRefresh">刷新</button>
    </div>
</script>
<!--    表格工作列-->
<script type="text/html" id="barDemo">
    <a id="edit" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div>
    <table id="test1" lay-filter="test"></table>
</div>

