<head>
    <meta charset="utf-8">
    <title>分类列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<script type="text/javascript" src="/static/layui/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    var loginUrl = window.location.protocol + "//" + window.location.host + "/";
    var str=loginUrl + "showImage?imgUrl=";
    function dateToStr(date) {
        var time = new Date(date);
        var y = time.getFullYear();
        var M = time.getMonth() + 1;
        M = M < 10 ? ("0" + M) : M;
        var d = time.getDate();
        d = d < 10 ? ("0" + d) : d;
        var h = time.getHours();
        h = h < 10 ? ("0" + h) : h;
        var m = time.getMinutes();
        m = m < 10 ? ("0" + m) : m;
        var s = time.getSeconds();
        s = s < 10 ? ("0" + s) : s;
        var str = y + "-" + M + "-" + d + " " + h + ":" + m + ":" + s;
        return str;
    }


    layui.use(['element', 'layer', 'jquery', 'form', 'table'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var $ =layui.$;
        //第一个实例
        var goodsInfoDateGrid = table.render({
            elem: '#goodsInfo',
            url: '/goods/dataGrid'
            , id: 'goodsInfoData'
            , page: true //开启分页
            , limit: 10
            , cellMinWidth: 100
            , limits: [10, 20, 30, 40, 50]
            , initSort: {
                field: 'id' //排序字段，对应 cols 设定的各字段名
                , type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            // , toolbar: "#toolbarDemo"
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', sort: true}
                    , {field: 'gImgPath', title: '商品图片', align: 'center',templet:'<div><img id="goodsImgPath" src="'+str+'{{ d.gImgPath }}"></div>'}
                    , {field: 'gName', title: '商品名称', align: 'center'}
                    , {field: 'gStock', title: '商品库存(件)'/*,edit:'text'*/, align: 'center'}
                    , {field: 'gSalesVolume', title: '商品销量(件)', align: 'center'}
                    , {field: 'gLocationId', title: '商品位置ID', align: 'center',hide:true}
                    , {field: 'gLocationName', title: '商品位置名称', align: 'center'}
                    , {field: 'gClassfyId', title: '商品分类Id', align: 'center' ,hide:true}
                    , {field: 'gClassfyName', title: '商品分类名称', align: 'center'}
                    , {
                    field: 'createTime', title: '创建时间', sort: true, templet: function (d) {
                        return dateToStr(d.createTime);
                    }
                }
                    , {
                    field: 'updateTime', title: '更新时间', sort: true, templet: function (d) {
                        return dateToStr(d.updateTime);
                    }
                }
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]
            ]
        });

        //监听表格行点击
        table.on('tr', function (obj) {
            console.log(obj)
        });

        //监听表格复选框选择
        table.on('checkbox(goodsInfo)', function (obj) {
            console.log(obj)
        });

        //监听表格单选框选择
        table.on('radio(goodsInfo)', function (obj) {
            console.log(obj)
        });

        //监听单元格编辑
        table.on('edit(goodsInfo)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            console.log("value=" + value)
            console.log("data=" + JSON.stringify(data))
            console.log("field=" + field)
        });

        /**
         * 搜索框载
         * @type {pe}
         */
        var $ = layui.$, active = {
            reload: function () {
                var keyWord = $('#searchReload').val();
                var keyType = $("#key_type option:selected").val();
                //执行重载
                table.reload('goodsInfoData', {
                    method: 'post',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        keyWord: keyWord,
                        keyType: keyType
                    }
                });
            }
        };
        $('.searchBtn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //自定义工具栏监听事件
        table.on('toolbar(goodsInfo)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getSelect':
                    layer.msg("这是查询", {icon: 6, anim: 6});
                    break;
                case 'getInsert':
                    layer.msg("这是新增", {icon: 6, anim: 6});
                    break;
                case 'getUpdate':
                    layer.msg("这是修改", {icon: 6, anim: 6});
                    break;
                case 'getDelete':
                    layer.msg("这是删除", {icon: 6, anim: 6});
                    break;
                case 'getRefresh':
                    layer.msg("这是刷新", {icon: 6, anim: 6});
                    location.reload();
                    break;
            }
        });
        //监听工具条
        table.on('tool(goodsInfo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url:'/goods/delete?id='+data.id,
                        success:function (result){
                            if(result.state==0){
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 4, anim: 4})
                            }
                        },
                        error: function () {
                          layer.msg("删除失败", {icon: 4, anim: 4})
                        }
                    })
                });
            }else if (obj.event === 'edit') {
                // layer.alert('编辑行：<br>' + JSON.stringify(data))
                layer.open({
                    type: 2,
                    title: "商品编辑", //不显示标题栏
                    closeBtn: 2,
                    offset: ['5%', '25%'],//设置位移
                    area: ['900px', '700px'],
                    // btn: ['保存', '取消'],
                    content: '/goods/editGoods?id=' + data.id, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
            }
        });
       $("#openAddGoodsPage").click(function () {
           layer.open({
               type: 2,
               title: "商品添加页面", //不显示标题栏
               closeBtn: 2,
               offset: ['5%', '25%'],//设置位移
               area: ['900px', '700px'],
               // btn: ['保存', '取消'],
               content: '/goods/addGoods', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
           });
       })

    });

</script>
<!--<script type="text/html" id="toolbarDemo">-->
<!--    <div class="layui-btn-container">-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getSelect">查询</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getInsert">新增</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getUpdate">修改</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getDelete">删除</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getRefresh">刷新</button>-->
<!--    </div>-->
<!--</script>-->
<!--    表格工作列-->
<script type="text/html" id="barDemo">
    <a id="edit" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div class="searchTable">
    <div >
    <span>
       搜索:
    </span>
        <div class="layui-inline">
            <input class="layui-input" name="keyWord" id="searchReload" autocomplete="off" style="width: 300px;"
                   placeholder="请输入关键词并选择对应类型">
        </div>
        <span class="layui-input-block" style="margin-left: 0px;">
        选择搜索类型:
                 <select name="keyType" id="key_type" class="layui-select"
                         style="width: 100px; background-color: aquamarine">
                <option value="gName" selected="selected">商品名称</option>
                                     <option value="gClassfyName">分类名称</option>
                                     <option value="gLocationName">商品位置</option>
            </select>
    </span>
        <button class="layui-btn searchBtn" data-type="reload">搜索</button>
        <button class="layui-btn addBtn" id="openAddGoodsPage">添加商品</button>
    </div>

    <table id="goodsInfo" lay-filter="goodsInfo"></table>
</div>
<!--layui.table图片显示不全，需重新定义CSS  -->
<style type="text/css">
    .layui-table td{
        height: 105px;
    }
    .layui-table-cell {
        height: auto !important;
        white-space: normal;
    }
</style>

